html, body {
    height: 100%;
}

.wrap {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#slides {
    position: relative;
}

#slides > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#slide-0 {
    background-color: #E91E63;
}
