html, body {
    height: 100%;
}

.wrap {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#slides {
  display: flex;
  justify-content: center;
  align-items: center;
}

#slide-0 {
    background-color: #E91E63;
}
