// Nesting

.content {
    border: 1px solid #ccc;
    padding: 20px;
}

.content h2 {
    font-size: 3rem;
    margin: 20px 0;
}

.content p {
    font-size: 1.5rem;
    margin: 15px 0;
}


.btn {
    text-decoration: underline;
    text-transform: lowercase;
}


a {
    color: #999;
}

a.action {
    border-color: green;
}

a:hover {
    color: #777;
}

a:active {
    color: #888;
}
